#inputContainer {
    display: flex;
    flex-direction: column;
}

.diagramInput {
    display: inline;
}

 .diagramContainer {
    display: flex;
    align-items: flex-end;
    margin-top: 10px;
    margin-bottom: 10px;
    border-style: solid;
    border-width: 2px;
    height: 500px;
} 

.diagramColumn {
    background-color: green;
    width: 15px;
    transition-property: height;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
}

.inputDiv {
    display: flex;
    flex-direction: raw;
}

.removeButton {
    display: inline;
}